<!-- <input type="text" [value]="username" (input)="setUsername($event)" />
<span>hello {{username}}</span> -->

<!-- <input type="text" [(ngModel)]="username" />
<span>hello {{username}}</span> -->

<!-- <input type="text" [value]="username" />
<span (click)="handleClick()">hello {{username}}</span>
{{result}} -->
<div class="container" [ngStyle]="{'grid-template-rows': templateRows, 'grid-template-columns': templateColumns}"
  (scroll)="handleScroll($event)">
  <ng-content select="[appGridItem]"></ng-content>
</div>
<div class="underline" *ngIf="scrollable">
  <div class="highlight" [ngStyle]="{'margin': sliderMargin}"></div>
</div>